/* css reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bree Serif', serif;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
}

#navbar ul {
    display: flex;
    align-items: center;
}

#navbar ul li {
    list-style: none;
    margin: 3px 20px;
}

#navbar ul li a {
    text-decoration: none;
    padding: 4px 32px;
    font-size: 1.3rem;
    color: white;
}

#navbar ul li a:hover {
    background-color: rgb(143, 139, 139);
    border-radius: 18px;

}

#navbar #logo {
    padding-top: 6px;
}

#navbar img {
    width: 80px;
    margin: 0px 10px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    /* border: 1px solid red; */
}

/* home section */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 446px;
}

#home::before {
    content: "";
    background: url(../bg1.jpg) no-repeat center center/cover;
    /* border: 1px solid green; */
    position: absolute;
    width: 100%;
    height: 535px;
    top: 0;
    z-index: -1;
    opacity: 0.89;
}

#home p {
    font-size: 1.2rem;
    margin: 4px;
}

/* services */

#service-container {
    position: relative;
}

#service {
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
    border: 2px solid brown;
    border-radius: 12px;
    margin: 15px;
    margin-bottom: 30px;
}

.box img {
    display: block;
    margin: auto;
    height: 8vw;
}

.box p {
    font-size: 1.1rem;
    margin: 6px;
}



/* client section  */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    background: url(../bg.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;

}

#client {
    display: flex;
    justify-content: space-around;
    height: 246px;
}

.client-item {
    margin: 20px;

}

.client-item img {
    height: 150px;

}

/* contact section */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    background: url(../contact.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: -1;

}

#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

#contact-box form {
    width: 50%;
    /* doubt*/
}

.form-group {
    margin: 14px 6px;

}

#contact-box label {
    font-size: 1.3rem;

}

.form-group input,
.form-group textarea {
    padding: 10px 10px;
    border-radius: 12px;
    font-size: 1.1rem;
    width: 100%;
    /* doubt*/
}


footer {
    background-color: black;
    color: white;
}




/* Utiliy class */
.h-primary {
    font-size: 2.8rem;
    padding: 35px;
}

.h-secondary {
    font-size: 2rem;
    margin: 16px 2px;
}

.btn {
    margin: 30px 10px;
    padding: 8px 13px;
    border-radius: 10px;
    color: white;
    background-color: brown;
    font-size: 1.1rem;
    cursor: pointer;
}

.center {
    text-align: center;
}